%p#notice= notice
%div.todaylist
  %div.dateholder.row  
    %div.yesterday.col-xs-1
      = link_to raw('<i class="glyphicon glyphicon-arrow-left"></i>'), schedule_yesterday_path( @schedule.id ),  :method => :get, :class => 'btn btn-link btn-lg'
    %div.dateheader.col-xs-10
      .dayofweek= @schedule.today.strftime("%A")
      .fulldate= @schedule.today.strftime("%b #{@schedule.today.day.ordinalize}") + ', ' + @schedule.today.strftime("%Y")
    %div.tomorrow.col-xs-1
      = link_to raw('<i class="glyphicon glyphicon-arrow-right"></i>'), schedule_tomorrow_path( @schedule.id ),  :method => :get, :class => 'btn btn-link btn-lg'
  %div.tasklist
    %table.table.table-condensed#sortable{:data => {update_url: sort_todos_path}}
      %tbody
        - @todos.each do |todo|
          %tr{:id => "task#{todo.task.id}", data: {item_id: "#{todo.id}"}, class: 'item'}         
            = render :partial => "/shared/todo_listitem", locals: { todo: todo }

